.navbg{
    background: #ffffff;
    padding: 20px;
    width: 100vw;
    box-shadow: 0 1px 10px #428bcc;
    z-index: 1000;
}
*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
.navrow{
    display: flex;
    color: #ffffff;
}
.navblock{
    width: 40%;
}
.navblock2{
    width: 60%;
    display: flex;
}
.navblock2 ul{
    list-style-type: none;
    margin-left: auto;
    margin-bottom: 0;
}
.navblock2 li{
    float: left;
}
.navblock2 li a{
    
    text-decoration: none;
    color: #000000;
}
.bg-lightx{
    background: #428ccc2a;
}
.bg-lighty{
    background: #428ccc2a;
}
.sidemenuoptions{
    text-decoration: none;
    color: rgb(49, 47, 47);
    font-size: 20px;
}
.teamMemberDetail{
    background: #101D28;
    border-bottom: solid 4px #428bcc;
}
.teamImage-sm{
    border-radius: 100%;
    filter: grayscale(1);
}
.teamheader{
    background: #428bcc;
}
.teamheader .container{
    background: #101D28;
}
.mission{
    margin-top: 60px;
    margin-bottom: 60px;
}
.qualitycommit{
    margin-top: 60px;
    margin-bottom: 40px;
}
.homeDiv{
    background: #181818;
    text-align: center;
}
.footerDiv{
    background: #00ff407e;
    height: auto;
}
.footertop{
    background: #5BB3FF;
}
.footertop .display-6{
    font-size: 20px;
    font-weight: 300;
    color: white;
}
.footertop .display-7{
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.footertop .display-7 img{
    width: 20px;
    margin-left: 4px;
}
.footerBottom{
    background: #101D28;
}
.footerBottom hr{
    padding: 0.5px;
    background: rgba(255, 255, 255, 0.4);
}
.footerpara{
    width: 85%;
    color: #C5FBFF;
}
.iconrow{
    display: flex;
}
.iconrow img{
    margin-right: 20px;
}
.hyperlinks a{
    display: block;
    color: #C5FBFF;
}
.contactDiv{
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    height: fit-content;
}
.entdet{
    background: #f0f4fc;
    border: solid 2px #edf4ff;
}
.btnx{
    background: #428bcc;
}
.leftContact{
    background: #f0f4fc;
    height: 100%;
}
.leftContact .touchbox{
    border-bottom: solid 4px #428bcc;
    border-top: solid 4px #428bcc;
}
.rightContact{
    border: solid 2px #edf4ff;
    height: 100%;
}
.brandName{
    background: #101D28;
    width: auto;
}
.getInTouch{
    background: #101D28;
    position: absolute;
    right: 20px;
    bottom: 15vh;
    padding: 8px;
    display: flex;
    z-index: 999;
}
.touchtext{
    line-height: 36px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.circleOut{
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: #ffffff;
    margin-left: 10px;
}
.circleIn{
    width: 20px;
    height: 20px;
    border-radius: 100% 0% 100% 100%;
    margin: 8px;
    background: linear-gradient(90deg, #99CDFF 0%, #BAFFBA 100%);
}
.togglebutton{
    display: none;
}
@media screen and (max-width: 600px) {
    .navblock2 ul{
        display: none;
    }
    .togglebutton{
        display: block;
        position: absolute;
        background: #101D28;
        padding: 6px;
        padding-left: 20px;
        padding-right: 20px;
        right: 0;
        top: 17%;
        border: none;
        border-left: solid 4px #bbddfa;
        color: rgb(255, 255, 255);
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .bg-sky{
        background: #bbddfa;
    }
  }
  .bg-sky{
    background: #bbddfa;
    height: 16px;
}
  .bg-darkblue{
    background: #101D28;
    height: 16px;
}
.aboutusnumbers{
    margin-top:60px;
    margin-bottom: 60px;
}
.aboutusparagraph{
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 30px;
    line-height: 140%;
}
.aboutusparagraph2{
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
}
.aboutuspic1{
    border: none;
}
.logobox{
    position: relative;
}
.notextdeco{
    text-decoration: none;
}
.solutionpagepara{
    font-size: 22px;
    text-align: center;
}

.logoabout{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 40%;
}
.client-box1{
    width: 100%;
    height: 200px;
    vertical-align: middle;
    text-align: center;
    display: flex;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
.span {
    float: left;
    width: 50%;
  }
  .marquee--inner:hover {
    animation-play-state: paused;
  }
  .marquee1 .marquee--inner {
    display: block;
    width: 200%;
    position: absolute;
    animation: marquee 12s linear infinite ;
  }
  

  .marquee1 {
    height: 200px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 20px;
  }
  
  .clientsmq{
    overflow: hidden;
    padding-left: 0;
  }
.client-box1 img{
    
    align-self: center;
}

.servingclientext{
    margin-bottom: 40px;
}
.servingclientext span{
    color: #428bcc;
}
.patentblock{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.patentcard{
    width: 100%;
    margin: 4px;
    padding: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    animation: none !important;
}
.patentimg{
    padding: 10%;
    background: #ffffff;

}
.patentText{
    padding-top: 10%;
}
.aboutusrow{
    margin-top: 60px;
    height: fit-content;
    margin-left: 0;
    padding-left: 0;
}
#carouselImg1{
    width: 100vw;
    height: 95vh;
    background-size: cover;
    background-position: center;
}
#carouselImg11{
    width: 100vw;
    height: 60vh;
    background: linear-gradient(135deg, rgba(62, 163, 251, 0.10) 0%, rgba(255, 0, 245, 0.10) 100%);
    background-size: cover;
    background-position: center;
}
#carouselImg2{
    width: 100vw;
    height: 95vh;
    background-size: cover;
    background-position: center;
}
#carouselImg22{
    width: 100vw;
    height: 60vh;
    background: linear-gradient(135deg, rgba(62, 163, 251, 0.10) 0%, rgba(255, 0, 245, 0.10) 100%);  
    background-size: cover;
    background-position: center;
}
#carouselImg3{
    width: 100vw;
    height: 95vh;
    background-size: cover;
    background-position: center;
}
#carouselImg33{
    width: 100vw;
    height: 60vh;
    background: linear-gradient(135deg, rgba(62, 163, 251, 0.10) 0%, rgba(255, 0, 245, 0.10) 100%);
    background-size: cover;
    background-position: center;
}
.darkLayer{
    position: static;
    width: 100vw;
    height: 95vh;
    background: #e4e4e4d7;
    z-index: 1;
}
.textBox{
    z-index: 3;
    width: fit-content;
    border-radius: 32px;
    border: solid 12px #bbddfa;
    max-width: 100%;
    padding: 30px;
    background-image: url(./Images/anibg.svg);
    background-size: cover;
    background-repeat: repeat-x;
    animation: animatedBackground 6s linear infinite ;
    font-size: 48px;
}
@keyframes animatedBackground {
  from {background-position: center;}
to {background-position: -1000px center;}
}
.bg-grad{
    background: linear-gradient(-45deg, #52e5f070, #ffffff70, #52e5f070);
    background-size: 100% 100%;
    /* animation: gradient 10s ease infinite; */
    
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.containerx{
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    width: 80%;
}
.notification{
    background: #101D28;
}
.ytlogo{
    width: 80px;
}
.closebutton{
    background: #123D62;
    z-index: 100;
}
.closebutton button{
    border: none;
    background: #123D62;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
}
.newnotifybg{
    background: #2770AE;
    z-index: 100;
    overflow-x:visible;
}
.bar {
    width: 100%;
    color: white;
    font-size: 18px;
  }
  
  .bar_content {
    display: block;
    width: 320%;
    transform: translateX(0%); 
    animation: none;
    color: #ffffffe7;
  }
  
  @keyframes move {
    to { transform: translateX(-50%); }
  }
.uptext{
    font-weight: 600;
    width: 80%;
}
.undertext{
    color: rgb(68, 68, 68);
    font-size: 24px;
    padding-left: 32px;
    padding-right: 32px;
    background: #ffffff9c;
}
.leftline{
    background: wheat;
    height: 3px;
    position: absolute;
    top: 40%;
    width: 8.3333%;
}
.rightline{
    background: wheat;
    height: 3px;
    position: absolute;
    top: 40%;
    width: 24%;
    animation-name: fillline;
    animation-duration: 4s;
    animation-timing-function: ease-out; 
  animation-delay: 0;
}

@keyframes fillline {
    0% {
        width: 0;        
    }
      100% {
        width: 100;
      }
}
.tagline{
    background: #0D2E4B;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 4px;
    margin-bottom: 0;
}
.blueSpec{
    position: relative;
    width: 100%;
}
.impactdiv{
    /* background: #101D28; */
}
.bg-video{
    background-image: url(./Images/vidbg.gif);
    background-size: cover;
}
.bg-video-screen{
    background: linear-gradient(180deg, #FFF 0%, #FFF 25%, rgba(255, 255, 255, 0.70) 50%, #FFF 75%, #FFF 100%);
}
.scaleImp{
    width: 100%;
}
.scaleBlock{
    margin-top: -60px;
    padding: 40px;
}
.scaleBlock img{
    width: 100%;
}



@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-200px * 4.62))}
}
.slidecontainer{
    overflow: hidden;
}
.slider {
	background: white;
	height: 250px;
	margin: 0;
	overflow:hidden;
	position: relative;
}
.slide-track {
    width: 50%;
    animation: scroll 20s linear infinite;
    display: flex;
}	

#carInd{
    transform: translateY(7vh);
}
.multiItemSlider{
    min-height: 60vh;
}
.newslogo{
    width: 100px;
}
.multiItemSlider .carousel-inner .card{
    height: 55vh ;
    border-radius: 0 !important;
    background: url(./Images/multislidebg1.png);
    text-align: left;
    background-size: cover;
    background-position: center;
    border: none;
    
}
.multiItemSlider .carousel-inner .card:hover{
    filter: brightness(1.3);
}
.multiItemSlider .carousel-inner .card .card-body{
    padding: 10%;
    background: #f7fbffd3;
    color: #0D2E4B;
}
.multiItemSlider .carousel-inner .card #btn{
    border-radius: 8px;
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    color: white;
background: linear-gradient(90deg, #0D2E4B 0%, #1F5F96 100%);
}
.multiItemSlider .carousel-inner .card .btn-primary{
    border-radius: 8px;
    padding: 4px;
    padding-left: 48px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 48px;
    border: none;
    color: white;
    background: #101D28;
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #fff;
}
.carousel-indicators [data-bs-target] {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
}
.article{
    background: #ffffff;
}
.articlerow{
    min-height: fit-content;
}
.solutionrow{
    height: fit-content;
    padding-bottom: 50px;
}
.articlediv{
    padding-top: 40px;
    padding-bottom: 40px;
}
.solutiondiv{
    padding-top: 0px;
    padding-bottom: 40px;
}
.articlediv .bg-lightblue{
    background: rgba(153, 205, 255, 0.20);
    color: #0D2E4B;
}
.bg-lightblue{
    background: rgba(153, 205, 255, 0.20);
    color: #0D2E4B;
}

.articlebg{
    border-radius: 12px;
    width: 100%;
    height: 100%;
    background: url('./Images/articlebg.png');
    background-size: cover;
    background-position: center;
}
.solutiondivleft{
    width: 100%;
    height: 100% auto;  
}
.service1{
    width: 100%;
    height: 200px;
    border-radius: 12px;
    background-image: url(./Images/servicesbg.svg);
    background-size: cover;
    background-position: center;
}
.service2{
    width: 100%;
    border-radius: 12px 12px 0 0;
    background-image: url(./Images/servicesbg.svg);
    background-size: cover;
    background-position: center;
}

.service1 img{
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(0.7);
}
.service2 img{
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) scale(0.7);
}
.btngrad{
    color: #0D2E4B;
    border-radius: 0 0 16px 16px;
    width: 100%;
    font-weight: 600;
    background: #e1fdff;
}
.btngrad1{
    color: #0D2E4B;
    border-radius: 0 0 16px 16px;
    width: 100%;
    font-weight: 600;
    line-height: 42px;
    background: #1f5e960e;
}
.bg-productFeatureBlue{
    background: #101D28;
    color: #ffffff;
    padding: 10px 60px 10px 30px;
    border-radius: 8px;
    font-weight: 400;
}
.pageFeatures{
    background: #1f5e960e;
    border-left: solid 4px #101D28;
}
.articledarklayer{
    border-radius: 12px;
    width: 100%;
    height: 100%;
    background: #000000c0;
}
.articledarklayer a{
    color: white;
    border-radius: 12px;
    background: rgba(217, 217, 217, 0.20);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 16px;
}
.articleright{
    border-radius: 12px;
    background: #EDF7FF;
    height: auto;
}
.articleright img{
    width: 10%;
}
.articleright a{
    border-radius: 8px;
border: 1px solid #2770AE;
background: rgba(48, 130, 200, 0.10);
}
.solutionright a{
    border-radius: 8px;
background: #123D62;
color: white;
}
.fa-star{
    color: gold;
}
.solutiondivleft a{
    border-radius: 8px;
background: #123D62;
color: white;
}
.partner-list .row .col img{
    padding: 40px;
    transform: scale(0.8);
}
.partner-list  {
background: #ffffff;}
.partner-list .row {
    background: linear-gradient(135deg, rgba(62, 163, 251, 0.05) 0%, rgba(255, 0, 245, 0.05) 100%);
}
.news{
    background: #ffffff;
}
.news .bg-lightblue{
    background: rgba(153, 205, 255, 0.20);
    color: #0D2E4B;
}
.directionguiderleft{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 15%; */
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    transition: opacity .15s ease;
}
.directionguiderright{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 15%; */
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    transition: opacity .15s ease;
}
#testimonial{
    height: 60vh;
    background: white
}
.testi-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.testi-img{
    background-image: url(./Images/testimonialimg.png);
    background-size: cover;
    background-position: center;
    height: 45vh;
    width: 45vh;
    border: 16px solid #F6F7FE;
    border-radius: 10%;
}
.testitextresp h2{
    font-size: 24px;
}
.testitextresp h3{
    font-size: 28px;
}
.testitextresp h4{
    font-size: 20px;
}
.quoteicon{
    width: 60px;
}
.aboutusheader{
    padding-top: 64px;
    padding-bottom: 54px;
}
.mobile-phone {
    padding: 10px 10px 30px;
    width: 200px;
    height: 400px;
    box-shadow: 0 0 20px #e2e2e2;
    border-radius: 30px;
    background: #1b1a1a;
  }
  .uptextmob{
    display: none;
}
  .whitemovingbox{
    width: 10%;
    height: 8px;
    background: linear-gradient(90deg, #BAFFBA 0%, #379dfd 100%);
    animation:  fullwide 4s infinite
  }
  @keyframes fullwide {
    0% { width: 0% }
    100% { width: 100% }
}

  .screen {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    border-radius: 26px;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(./Images/anibg.svg);
    background-size: cover;
    background-repeat: repeat-x;
    animation: animatedBackground 6s linear infinite ;
  }
  

  
  .speaker {
    width: 60px;
    height: 5px;
    background: #d2d2d2;
    display: block;
    margin: auto;
    margin-top: 5px;
    border-radius: 20px;
  }
.punch-hole{
    width: 36px;
}
.mobile-menu{
    display: none;
}


@media screen and (max-width:600px){
    .containerx{
        top: 55%;
        left: 50%;
        position: absolute;
        transform: translateY(-50%) translateX(-50%);
        width: 100%;
    }
    .mobile-menu{
        display: block;
        position: fixed;
        left: 30%;
        width: 100vw;
        height: 100vh;
        animation: appearfromright;
        border-left: solid 12px #428ccc2a;
    }
    @keyframes appearfromright {
        0% { left: 100% }
    100% { left: 0% }
    }
   
    .mobile-menu ul{
        list-style-type:none;
        padding-left: 0;
    }
    .mobile-menu li{
        text-decoration: none;
    }
    
    .marquee1 {
        height: 120px;
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
        margin-bottom: 20px;
      }
      .client-box1{
        height: 120px;
      }
    .bar_content {
        display: block;
        width: 320%;
        transform: translateX(20%); 
        animation: move 15s linear infinite;
        color: #ffffffe7;
      }
    .punch-hole{
        width: 42px;
    }
    .testitextresp h2{
        font-size: 16px;
    }
    .testitextresp h3{
        font-size: 20px;
    }
    .testitextresp h4{
        font-size: 16px;
    }
    .quoteicon{
        width: 40px;
        
    }
    
    .mobile-phone{
        width: 100%;
        padding: 10px;
        padding-bottom: 0;
        height: auto;
        border-radius: 30px 30px 0 0 ;
    }
    .screen{
        border-radius: 24px 24px 0 0 ;
    }
    .uptextmob{
        display: block;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .uptext{
        display: none;
    }
    .undertext{
        color: #101D28;
        font-weight: 500;
        font-size: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .tagline{
        font-size: 20px;
    }
    .getInTouch{
        position: fixed;
        bottom: 8vh;
        z-index: 999;
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.15);
    }
    .scaleBlock{
        padding: 10px;
        margin-top: -15px;
    }
    .impactdiv .container{
        margin-top: 10px !important;
    }
    .articlebg{
        border-radius: 12px;
        width: 100%;
        min-height: 200px;
    }
    .articleright{
        margin-top: 10px;
    }
    .solutionright .px-5{
        margin-top: 18px;
        padding: 0 !important;
        width: 97%;
        font-size: 18px;
    }
    .solutionrow{
        padding-bottom: 0 !important;
    }
    .solutiondivleft .col-md-6{
        padding-bottom: 22px;
        padding-right: 0;
    }
    .partner-list .row .col img{
        padding: 20px;
        transform: scale(0.8);
    }
    .directionguiderleft img{
        width: 50px;
    }
    .directionguiderright img{
        width: 50px;
    }
    .testi-img{
        width: 66.5vw;
        height: 66.5vw;
        
    }
    #testimonial{
        height: 80vh;
        background: white
    }
    #carouselImg11, #carouselImg22,#carouselImg33{
        height: 80vh;
    }
    .multiItemSlider .carousel-inner .card{
        height: 50vh;
    }
    .contactDiv{
        padding-top: 100px;
    }
    .norightpadding{
        padding-right: 0 !important;
    }
    .rightContact{
        margin-top: 16px;
    }
    
    .carText{
        max-width: 100%;
        margin-right: 16px;
        margin-left: 16px;
        top: 15%;
        transform: translateY(-5%);
    }
    .aboutusrow{
        margin-top: 20px;
    }
    .aboutuspic1{
        width: 100% !important;
        margin-bottom: 20px;
    }
    .aboutusparagraph2{
        width: 100% !important;
        text-align: justify;
    }
    .aboutusparagraph{
        text-align: justify;
    }
    .servingclientext{
        width: 100% !important;
        margin-bottom: 40px;
    }
    .underHeaderLine{
        margin-left: 0 !important;
    }
    .clientsmq{
        margin-top: 40px;
    }
    .patentblock{
        margin-top: 20px;
    }
    .patentcard{
        width: 100% !important;
        padding: 4px;
        background: #f1f1f1;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .patentimg{
        padding: 16%;
        background: #ffffff;
    
    }
    .patentText{
        padding-top: 10%;
    }
}