.navbg{
    background: #00000091;
    padding: 20px;
    width: 100vw;
}
*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
.navrow{
    display: flex;
    color: #ffffff;
}
.navblock{
    width: 40%;
}
.navblock2{
    width: 60%;
    display: flex;
}
.navblock2 ul{
    list-style-type: none;
    margin-left: auto;
    margin-bottom: 0;
}
.navblock2 li{
    float: left;
}
.navblock2 li a{
    padding: 20px;
    text-decoration: none;
    color: #ffffff;
}
.homeDiv{
    background: #181818;
    text-align: center;
}
.footerDiv{
    background: #00ff407e;
    height: auto;
}
.footertop{
    background: #5BB3FF;
}
.footertop .display-6{
    font-size: 20px;
    font-weight: 300;
    color: white;
}
.footertop .display-7{
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.footertop .display-7 img{
    width: 20px;
    margin-left: 4px;
}
.footerBottom{
    background: #101D28;
}
.footerBottom hr{
    padding: 0.5px;
    background: rgba(255, 255, 255, 0.4);
}
.footerpara{
    width: 85%;
    color: #C5FBFF;
}
.iconrow{
    display: flex;
}
.iconrow img{
    margin-right: 20px;
}
.hyperlinks a{
    display: block;
    color: #C5FBFF;
}
.contactDiv{
    width: 100%;
    background: #003cff7e;
    text-align: center;
    padding: 300px;
}
.brandName{
    background: #0000009c;
    width: auto;
}
.getInTouch{
    background: #00000094;
    position: absolute;
    right: 20px;
    bottom: 15vh;
    padding: 8px;
    display: flex;
    z-index: 9999;
}
.touchtext{
    line-height: 36px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.circleOut{
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: #ffffff;
    margin-left: 10px;
}
.circleIn{
    width: 20px;
    height: 20px;
    border-radius: 100% 0% 100% 100%;
    margin: 8px;
    background: linear-gradient(90deg, #99CDFF 0%, #BAFFBA 100%);
}
.togglebutton{
    display: none;
}
@media screen and (max-width: 600px) {
    .navblock2 ul{
        display: none;
    }
    .togglebutton{
        display: block;
        position: absolute;
        background: #000;
        padding: 6px;
        padding-left: 20px;
        padding-right: 20px;
        right: 0;
        top: 17%;
        border: none;
        color: wheat;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
  }
#carouselImg1{
    width: 100vw;
    height: 95vh;
    background-image: url(https://images.unsplash.com/photo-1601388352547-2802c6f32eb8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHdpZGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}
#carouselImg11{
    width: 100vw;
    height: 60vh;
    background: linear-gradient(135deg, rgba(62, 163, 251, 0.10) 0%, rgba(255, 0, 245, 0.10) 100%);
    background-size: cover;
    background-position: center;
}
#carouselImg2{
    width: 100vw;
    height: 95vh;
    background-image: url(https://images.unsplash.com/photo-1612466147934-4a7a64a3abe2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHdpZGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}
#carouselImg22{
    width: 100vw;
    height: 60vh;
    background: linear-gradient(135deg, rgba(62, 163, 251, 0.10) 0%, rgba(255, 0, 245, 0.10) 100%);  
    background-size: cover;
    background-position: center;
}
#carouselImg3{
    width: 100vw;
    height: 95vh;
    background-image: url(https://plus.unsplash.com/premium_photo-1663100521684-ddd46459b3b1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8d2lkZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
}
#carouselImg33{
    width: 100vw;
    height: 60vh;
    background: linear-gradient(135deg, rgba(62, 163, 251, 0.10) 0%, rgba(255, 0, 245, 0.10) 100%);
    background-size: cover;
    background-position: center;
}
.darkLayer{
    position: static;
    width: 100vw;
    height: 95vh;
    background: #000000d7;
    z-index: 1;
}
.textBox{
    z-index: 3;
    width: fit-content;
    max-width: 100%;
    padding: 20px;
    background: #000000af;
    font-size: 42px;
}
.carText{
    max-width: 67.8%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}
.undertext{
    color: white;
    margin-top: 20px;
    font-size: 20px;
}
.leftline{
    background: wheat;
    height: 3px;
    position: absolute;
    top: 40%;
    width: 8.3333%;
}
.rightline{
    background: wheat;
    height: 3px;
    position: absolute;
    top: 40%;
    width: 24%;
    animation-name: fillline;
    animation-duration: 4s;
    animation-timing-function: ease-out; 
  animation-delay: 0;
}

@keyframes fillline {
    0% {
        width: 0;        
    }
      100% {
        width: 100;
      }
}
.tagline{
    background: white;
    padding: 4px;
    margin-bottom: 0;
}
.blueSpec{
    position: relative;
    width: 100%;
}
.scaleImp{
    width: 100%;
}
.scaleBlock{
    padding: 40px;
}
.scaleBlock img{
    width: 100%;
}



@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 4.62))}
}
.slider {
	background: white;
	height: 250px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;	
	.slide-track {
		animation: scroll 20s linear infinite;
		display: flex;
	}	
}

#carInd{
    transform: translateY(7vh);
}
.multiItemSlider{
    min-height: 60vh;
}

.multiItemSlider .carousel-inner .card{
    height: 55vh !important;
    border-radius: 0 !important;
    text-align: left;
    background-size: cover;
    background-position: center;
    background: url(./Images/multislidebg1.png);
    border: none;
}
.multiItemSlider .carousel-inner .card:hover{
    filter: brightness(1.5);
}
.multiItemSlider .carousel-inner .card .card-body{
    padding: 10%;
    background: #000000b9;
    color: white;
}
.multiItemSlider .carousel-inner .card #btn{
    border-radius: 8px;
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    color: white;
background: linear-gradient(90deg, #0D2E4B 0%, #1F5F96 100%);
}
.multiItemSlider .carousel-inner .card .btn-primary{
    border-radius: 8px;
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    color: white;
    background: rgba(255, 255, 255, 0.15);
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #fff;
}
.carousel-indicators [data-bs-target] {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
}
.article{
    background: #ffffff;
}
.articlerow{
    min-height: fit-content;
}
.solutionrow{
    height: fit-content;
    padding-bottom: 50px;
}
.articlediv{
    padding-top: 40px;
    padding-bottom: 40px;
}
.solutiondiv{
    padding-top: 0px;
    padding-bottom: 40px;
}
.articlediv .bg-lightblue{
    background: rgba(153, 205, 255, 0.20);
    color: #0D2E4B;
}
.solutiondiv .bg-lightblue{
    background: rgba(153, 205, 255, 0.20);
    color: #0D2E4B;
}
.articlebg{
    border-radius: 12px;
    width: 100%;
    height: 100%;
    background: url('./Images/articlebg.png');
    background-size: cover;
    background-position: center;
}
.solutiondivleft{
    width: 100%;
    height: auto;  
}
.service1{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.service1 img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(0.7);
}
.btngrad{
    color: #0D2E4B;
    border-radius: 12px;
    background: linear-gradient(90deg, rgba(91, 235, 255, 0.11) 0%, rgba(39, 112, 174, 0.00) 100%) !important;
}

.articledarklayer{
    border-radius: 12px;
    width: 100%;
    height: 100%;
    background: #000000c0;
}
.articledarklayer a{
    color: white;
    border-radius: 12px;
    background: rgba(217, 217, 217, 0.20);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 16px;
}
.articleright{
    border-radius: 12px;
    background: #EDF7FF;
    height: auto;
}
.articleright img{
    width: 10%;
}
.articleright a{
    border-radius: 8px;
border: 1px solid #2770AE;
background: rgba(48, 130, 200, 0.10);
}
.solutionright a{
    border-radius: 8px;
background: #123D62;
color: white;
}
.partner-list .row .col img{
    padding: 40px;
    transform: scale(0.8);
}
.partner-list  {
background: #ffffff;}
.partner-list .row {
    background: linear-gradient(135deg, rgba(62, 163, 251, 0.05) 0%, rgba(255, 0, 245, 0.05) 100%);
}
.news{
    background: #ffffff;
}
.news .bg-lightblue{
    background: rgba(153, 205, 255, 0.20);
    color: #0D2E4B;
}
.directionguiderleft{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 15%; */
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    transition: opacity .15s ease;
}
.directionguiderright{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 15%; */
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    transition: opacity .15s ease;
}
#testimonial{
    height: 60vh;
    background: white
}
.testi-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.testi-img{
    background-image: url(./Images/testimonialimg.png);
    background-size: cover;
    background-position: center;
    height: 45vh;
    width: 45vh;
    border: 16px solid #F6F7FE;
    border-radius: 10%;
}
.quoteicon{
    width: 60px;
}